<!doctype html>
<html ng-app="example">
  <head>
    <meta charset="utf-8">
    <title>tusimple-tree</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="index.css">
    <script src="angular.min.js"></script>
    <script src="tusimple-tree.js"></script>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <pre>
        demo1
        级联选中

    </pre>

    <div ng-controller="demoController">

        <input type="button" value="更换数据一" ng-click="changeData()">
        <input type="button" value="更换数据二" ng-click="changeData1()">
      

        <ul ng-model="data">
            <li ng-repeat="node in data" ng-include="'template-html/nodes-renderer.html'"></li>
        </ul>

    </div>

    <pre>
        demo2
        只允许选中叶子节点
    </pre>

    <div ng-controller="demoController">

        <input type="button" value="更换数据一" ng-click="changeData()">

        <input type="button" value="更换数据二" ng-click="changeData1()">

        <ul ng-model="data">
            <li ng-repeat="node in data" ng-include="'template-html/nodes-renderer1.html'"></li>
        </ul>

    </div>

    <pre>
        demo3
        可删除节点
    </pre>

    <div ng-controller="demoController">

        <input type="button" value="更换数据一" ng-click="changeData()">

        <input type="button" value="更换数据二" ng-click="changeData1()">

        <ul ng-model="data">
            <li ng-repeat="node in data" ng-include="'template-html/nodes-renderer2.html'"></li>
        </ul>

    </div>

    <div ng-controller="demoController">

        <input type="button" value="更换数据一" ng-click="changeData()">

        <input type="button" value="更换数据二" ng-click="changeData1()">

        <ul ng-model="data">
            <li ng-repeat="node in data" ng-include="'template-html/add-nodes.html'"></li>
        </ul>

    </div>
    
    <script src="index.js"></script>
  </body>
</html>
